/*message*/
.error, .alert, .notice, .success, .desc, .uploading{
	padding:15px;
	margin-bottom:4px;
	border:1px solid #ddd;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	box-shadow:inset 0 0 0 1px #fff;
}
.error, .alert{
	background:#fbe3e4;
	color:#8a1f11;
	border-color:#fbc2c4;
}
.notice{
	background:#fff6bf;
	color:#514721;
	border-color:#ffd324;
}
.success{
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880;
}
.desc{
	background:#d5edf8;
	color:#205791;
	border-color:#92cae4;
}
.uploading{
	background:#fff;
	color:#333;
	border-color:#eee;
}
.error label, .alert label, .notice label, .success label, .desc label, .uploading label{
	display:block;
	font-size:15px;
	font-weight:bold;
	margin:0 0 5px 0;
	text-shadow: 1px 1px 1px #FFF;
}
.error a, .alert a, .notice a, .success a, .desc a, .uploading a{
	text-shadow: 1px 1px 1px #FFF;
}
.error a, .alert a{
	color:#8a1f11;
}
.notice a{
	color:#514721;
}
.success a{
	color:#264409;
}
.desc a{
	color:#205791;
}
.uploading a{
	color:#333;
}
/*end message*/
/*tab*/
.tab-outer {
	margin:0 0 10px 0;
	border:1px solid #bdbdbd;
	padding:1px;
	background:#f6f6f6;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.tab-outer .tab-title{
	height:41px;
	background:#dadada;
}
.tab-outer .tab-title a{	
	font-size:12px;
	color:#666;
	padding:0 15px;
	line-height:36px;
	height:39px;
	float:left;
	border:1px solid transparent;
}
.tab-outer .tab-title a.active, .tab-outer .tab-title a:hover{
	background:#fff;
	color:#333;
	border:1px solid #d2d2d2;
	border-bottom:1px solid #fff;
}
.tab-outer .tab-container{
	padding:15px;
	overflow:hidden;
	line-height:18px;
	min-height:150px;
	background:#fff;
}
/*end tab*/
/*table data*/
table.tdata {
	margin-bottom:1.4em;
	width:100%;
}
table.tdata th {
	font-weight:bold;
}
table.tdata thead th {
	background:#c3d9ff;
}
table.tdata th, table.tdata td, table.tdata caption {
	padding:4px 10px 4px 5px;
}
table.tdata tbody tr:nth-child(even) td, table.tdata tbody tr.even td {
	background:#e5ecf9;
}
table.tdata tfoot {
	font-style:italic;
}
table.tdata caption {
	background:#eee;
}
/*end table data*/
/*table full*/
table.tfull {
	margin-bottom:1.4em;
	width:100%;
}
table.tfull th {
	font-weight:bold;
}
table.tfull thead th {
	background:#f9f9f9;
}
table.tfull th, table.tfull td, table.tfull caption {
	padding:12px;
	border:1px solid #ddd;
	-moz-box-shadow:inset -1px 1px 0 #FFF;
	-webkit-box-shadow:inset -1px 1px 0 #FFF;
	box-shadow:inset -1px 1px 0 #FFF;
}
table.tfull tbody tr:nth-child(even) td, table.tdata tbody tr.even td {
	background:#f9f9f9;
}
table.tfull tbody a {
	font-weight:normal;
	color:#000;
}
table.tfull tbody a span{
	margin:0 3px 0 0;
}
table.tfull tbody .tlink {
	display:inline-block;
	padding:5px 10px;
	margin:-5px 0;
}
table.tfull tbody .tlink:hover {
	background:#e9e9e9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
table.tfull tfoot {
	text-align:right;
	background:url(../images/common/tfull.caption.repeat.png) repeat-x top;
}
table.tfull tfoot td{
	padding:7px 10px;
}
table.tfull tfoot td a{
	color:#000;
	font-size:11px;
}
table.tfull tfoot td a.active, table.tfull tfoot td a:hover{
	color:#0077a1;
}
table.tfull caption {
	background:url(../images/common/tfull.caption.repeat.png) repeat-x top #e5e5e5;
	border-bottom:none;
	font-weight:bold;
}
/*end table full*/
/*------------------------------*/
/*grid all*/
.grid{
	margin:0;
	padding:0;
	min-height:58px;
}
.grid .img{
	float:left;
	width:50px;
	height:50px;
	margin-top:3px;
}
.grid .g-content{
	margin-left:62px;
}
.grid .g-right{
	text-align:right;
}
.grid .g-row{
	line-height:16px;
	color:#000;
	padding-bottom:5px;
	font-size:11px;
}
.grid a {
	font-size:11px;
	font-weight:normal;
}
.grid .g-title{
	font-weight:bold;
	font-size:12px;
	margin-right:3px;
	line-height:16px;
	cursor: pointer;
}
.grid .g-smalltitle{
	color:#0077a2;
	font-weight:normal;
	font-size:11px;
	margin-right:3px;
	line-height:16px;
	cursor: pointer;
}
.grid span {
	font-size:11px;
	color:#666;
}
/*end grid all*/
/*box*/
.box{
	margin:0 0 15px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.box-title{
	height:27px;
	background:url(../images/box-title.png) no-repeat top left;
}
.box-title label{
	font-size:13px;
	color:#D3A551;
	font-weight:bold;
	float:left;
	margin:4px 0 0 30px;
}
.box-title .viewmore, .box-title .counter{
	float:right;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	margin:9px 10px 0 0;
}
.box .box-content{
	background:#28170d;
}
.box .box-bottom{
	height:8px;
	background:url(../images/box-bottom.png) no-repeat center;
	display:none;
}
/*end box*/
/*winget*/
.winget{
	background:#f0f0f0;
}
.winget-title{
	height:40px;
	background:url(../images/winget-title.png) repeat-x top #ececec;
}
.winget-title label{
	font-size:13px;
	color:#000;
	font-weight:bold;
	float:left;
	margin:12px 0 0 10px;
}
.winget-title .viewmore, .winget-title .counter{
	float:right;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	margin:9px 10px 0 0;
}
.winget .winget-content{
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	box-shadow:inset 0 0 0 1px #fff;
}
/*end winget*/
/*page*/
.pages{
	overflow:hidden;
	padding:5px 10px 10px;
	text-align:center;
}
.pages label{
	color:#999;
	font-size:12px;
	float:left;
	margin:5px 0 0;
	font-weight:bold;
}
.pages label span{
	color:#ff0000;
}
.pages .pages-inner{
	display:inline-block;
}
.pages .pages-inner a, .pages .pages-inner h5{
	display:inline-block;
	border:1px solid #ccc;
	padding:5px 7px;
	background:#f7f5f5;
	min-width:10px;
	margin:0 0 0 4px;
	text-align:center;
	font-size:12px;
	color:#84b4e0;
}
.pages .pages-inner h5{
	 border:1px solid #ddd;
	 color:#979090;
	 background:#fff;
}

.pages .pages-inner a:hover{
	color:#d0d575;
}
.page-other{
	text-align:center;
	padding:5px 0 10px;
	font-size:13px;
	color:#fff;
}
.page-other a{
	font-size:13px;
	font-weight:normal;
	color:#fff;
}
.page-other a:hover{
	text-shadow:0 0 2px #fff;
}
/*end page*/
/*other list*/
.other-list{
	padding:10px 5px 15px 10px;
}
.other-list h2{
	font-size:12px;
	font-weight:bold;
	display:block;
	padding:5px 0;
	color:#d3a551;
}
.other-list ul{
	margin:15px 25px 0;
}
.other-list ul li{
	padding:0 0 10px;
	list-style:outside disc;
	font-size:12px;
	color:#d3a551;
}
.other-list ul li a{
	color:#333;
	font-size:12px;
}
.other-list ul li span{
	color:#999;
	font-size:11px;
	margin:0 0 0 5px;
}
.other-list ul li a:hover{
	text-decoration:underline;
}
/*end other list*/
.big-title{
	height:26px;
	border-bottom:1px solid #130b06;
	background:url(../images/big-title.png) repeat-x top #352418;		
}
.big-title a, .big-title label{
	font-size:13px;
	color:#d3a551;
	font-weight:bold;
	float:left;
	margin:4px 0 0 10px;
}
.small-title{
	height:20px;
	border-bottom:1px dashed #fff;
	padding:5px 0 0;		
}
.small-title a, .small-title label{
	font-size:13px;
	font-weight:normal;
	color:#d3a551;
	float:left;
}