body{
	overflow-x: hidden;
	word-wrap: break-word;
	color:#666;
	background:#dcd8d8;
}
.wrapper{
	width:1000px;
	margin:0 auto;
}
.sidebar{
	width:210px;
	min-height:300px;
	float:left;
}
.bground{
	min-height:300px;
	padding:0 0 15px;
}
.main{
	margin:0 0 0 234px;	
}
.bg-white{
	background:#f1eeeb;
	line-height:18px;
	font-size:12px;
	color:#333;
}
.main-content{
	padding:15px 30px;
	line-height:18px;
	font-size:12px;
	color:#333;
	min-height:400px;
}
.footer{
	background:#2e1e15;
	height:150px;
	border-top:1px solid #1a0f09;
	line-height:18px;
	clear:both;
}
.footer-line{
	height:1px;
	clear:both;
	background:#52301d;
}
/*header*/
.webtitle{
	height:25px;
	background:#160e09;
	line-height:22px;
}
.webtitle .email-label{
	color:#a97b50;
	font-size:11px;
	background:url(../../images/front/email.png) no-repeat left center;
	padding:5px 0 5px 23px;
	margin:0 0 0 10px;
}
.webtitle .email-link{
	color:#fff;
	font-weight:normal;
	font-size:11px;
}
.box-language{
	float:right;
	font-size:11px;
	color:#fff;
	padding:0 5px 0 0;
}
.box-language a{
	display:inline-block;
	border:1px solid #ccc;
	margin:0 0 0 3px;
}
.box-language a:hover, .box-language a.active{
	border:1px solid #fff;
}
.header{
	height:135px;
	background: url(../../images/front/header-bg.jpg) no-repeat top center #5f2f1b;
}
.logo{
	background:url(../../images/front/logo.png) no-repeat;
	width:380px;
	height:130px;
	float:left;
}
.header-title{
	background:url(../../images/front/header-title.png) no-repeat;
	width:574px;
	height:104px;
	float:left;
	margin:35px 0 0 25px;
}
.hotline{
	background:url(../../images/front/hotline.png) no-repeat left center;
	margin:25px 15px 5px 0;
	padding:0 0 0 30px;
	float:right;
	font-size:14px;
	color:#d3a551;
}
.hotline span{
	color:#fff;
}
.btn-showcart{
	float:right;
	background:url(../../images/front/showcart.png) no-repeat;
	width:115px;
	height:43px;
	margin:10px 5px 0 0;
	padding:17px 0 0 65px;
	font-size:11px;
	font-weight:normal;
	text-transform:uppercase;
	color:#d3a551;
}
.btn-showcart span{
	color:#fff;
	vertical-align:top;
}
/*end header*/
/*menu*/
.menu{
	height:34px;
	border-bottom:1px solid #5b3220;
	border-top:1px solid #72412d;
	background: url(../../images/front/menu-repeat.png) repeat-x top #3e1806;
}
.menu ul{
	min-height:34px;
	float:left;
	background:url(../../images/front/menu-li.png) no-repeat top left;
	padding:0 0 0 2px;
}
.menu ul li{
	float:left;
	background:url(../../images/front/menu-li.png) no-repeat top right;	
}
.menu ul li a{
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding:10px 25px;
	display:block;	
	text-align:center;
}
.menu ul li:hover, .menu ul li.active{
	background:url(../../images/front/menu-li.png) no-repeat top right #532815;	
}
.menu ul li:hover a, .menu ul li.active a{
	color:#d3a551;	
}
.box-search{
	float:right;
	width:218px;
	height:21px;
	background:#fff;
	margin:7px 10px 0 0;
}
.box-search .btn-search{
	float:right;
	width:27px;
	height:21px;
	padding:0;
	text-indent:-999px;
	background:url(../../images/front/btn-search.png) no-repeat transparent;
	border:none;
}
.box-search .text{
	float:left;
	border:none;
	font-size:12px;
	width:183px;
	background:none;
	color:#ccc;
	padding:2px 4px 3px;
	-moz-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1);
}
.box-search .text:focus{
	color:#333;
}
/*menu*/
/*slider*/
.slider-outer{
	height:305px;
	padding:5px 0 0;
	background:#2e1e15;
}
.slider-wrapper{
	width:780px;
	height:295px;
	float:left;
	background:url(../../images/front/slider-default.jpg) no-repeat;
	-moz-box-shadow:3px 3px 3px #21140b;
	-webkit-box-shadow:3px 3px 3px #21140b;
	box-shadow:3px 3px 3px #21140b;
}
.slider-right{
	width:210px;
	float:right;
	height:295px;
}
.slider-right .box{
	margin-bottom:10px;
}
.box-intro ul{
	clear:both;
	padding:5px 0;
	margin:0 0 0 25px;
}
.box-intro ul li{
	list-style:outside disc;
	padding:5px 0 5px 0;
	color:#fff;
	font-size:13px;
}
.box-intro ul li a{
	font-size:12px;
	color:#D3A551;
	font-weight:normal;
}
.box-intro ul li a:hover{
	color:#ced36e;
}
.box-video{
	text-align:center;
	padding:4px 0;
}
/*end slider*/
/*tree*/
.tree-outer{
	padding:12px 10px 0;
	height:25px;
}
.tree-outer .update-time{
	float:right;
	color:#2e1e15;
}
.tree-view{
	float:left;
	color:#2e1e15;
}
.tree-view a{
	color:#2e1e15;
	font-weight:normal;
}
.tree-view span{
	color:#cbab92;
	font-size:10px;
	display:inline-block;
	vertical-align: middle;
	background:url(../../images/front/bullet.png) no-repeat;
	width:8px;
	height:5px;
	margin:0 7px;
}
.tree-view label{
	color:#2e1e15;
	font-size:12px;
}
/*end tree*/
/*search product*/
.search-product{
	padding:12px;
	color:#fff;
	background:#28170d;
	-moz-box-shadow:inset 0 0 5px #1c1009;
	-webkit-box-shadow:inset 0 0 5px #1c1009;
	box-shadow:inset 0 0 5px #1c1009;
	
}
.search-product label{
	font-size:12px;
	padding:0 10px 0 0;
}
.search-product .text{
	background:#fff;
	color:#2c1a12;
	width:130px;
	border:1px solid #70462e;
}
.search-product select{
	background:#fff;
	color:#2c1a12;
	border:1px solid #70462e;
	height:24px;
	vertical-align:top;
}
.search-product .btn-filter{
	border:none;
	font-size:12px;
	font-weight:bold;
	background:#cb9446;
	padding:4px 7px;
	color:#fff;
}
/*end search product*/
/*menuleft*/
.menuleft ul{
	min-height:200px;
	z-index:200;
	margin:-2px 0 0;
}
.menuleft ul li{
	border-bottom:1px solid #1a0f09;
	border-top:1px solid #52301d;
	position: relative;
}
.menuleft ul li a{
	display:block;
	padding:9px 5px 9px 18px;
	font-size:12px;
	font-weight:normal;
	color:#D3A551;
}
.menuleft ul li.active a, .menuleft ul li:hover a{
	color:#a97950;
	background:#1a0f09;
	background-image: linear-gradient(bottom, #1a0f09 22%, #4f2f1d);
	background-image: -o-linear-gradient(bottom, #1a0f09 22, #4f2f1d);
	background-image: -moz-linear-gradient(bottom, #1a0f09 22%, #4f2f1d);
	background-image: -webkit-linear-gradient(bottom, #1a0f09 22%, #4f2f1d);
	background-image: -ms-linear-gradient(bottom, #1a0f09 22%, #4f2f1d);
}
.menuleft li ul {
  display: none;
  position: absolute; 
  top: -2px;
  left: 190px;
  background-image:none;
  border:1px solid #1a0f09;
  min-height:inherit !important;
  padding:0 !important;
  }
.menuleft li li {
	text-decoration:none;
}
.menuleft li li a {
	font-size:12px;
	width:140px;
	text-decoration:none;
	padding-left:15px;
	padding-right:13px;
	background:#28170d !important;
	border: none;
	background-image:none;
	color:#D3A551 !important;
}
.menuleft li li a:hover {
	text-decoration:none;
	background:#1a0f09 !important;
	background-image: linear-gradient(bottom, #1a0f09 22%, #4f2f1d)!important;
	background-image: -o-linear-gradient(bottom, #1a0f09 22, #4f2f1d)!important;
	background-image: -moz-linear-gradient(bottom, #1a0f09 22%, #4f2f1d)!important;
	background-image: -webkit-linear-gradient(bottom, #1a0f09 22%, #4f2f1d)!important;
	background-image: -ms-linear-gradient(bottom, #1a0f09 22%, #4f2f1d)!important;
	color:#a97950 !important;
}
.menuleft li > ul {
	top: -1px;
	left: 200px;
}
.menuleft li:hover ul, .menuleft li.over ul { 
	display: block; 
}

.menuleft li:hover li ul {
  display: none; 
  top: -1px;
  left: 165px;
  }
  .menuleft li:hover li > ul {
	top: -1px;
	left: 165px;
}
.menuleft li:hover li:hover ul, .menuleft li:hover li.over ul { 
	display: block; 
}
/*end menuleft*/	
/*product item*/
.product-list{
	margin:0 -30px 10px -7px;
	padding:0 0 7px 7px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden;
}
.box-item{
	width:245px;
	height:218px;
	background:#2d1b0e;
	float:left;
	margin:10px 15px 0 0;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.box-item .b-title{
	padding:5px 10px 5px 22px;
	background:url(../../images/front/item-li.png) no-repeat 10px center;
	font-size:14px;
	height:18px;
	font-weight:bold;
	color:#d3a551;
	overflow:hidden;
}
.box-item .b-image{
	background:#f6f6f6;
	padding:14px 10px;
	height:104px;
	text-align:center;
	display:block;
}
.box-item .b-image img{
	height:100px;
	max-width:228px;
	min-width:140px;
	border:2px solid #fff;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);
	box-shadow:0 0 3px rgba(0,0,0,0.2);
}
.box-item .b-image:hover{
	background:#846142;
}
.box-item .b-detail{
	padding:7px 10px;
	text-align:center;
	line-height:20px;
	height:44px;
}
.box-item .b-detail h5{
	color:#d3a551;
}
.box-item .b-detail .b-viewmore{
	font-size:11px;
	color:#be641d;
	text-decoration:underline;
	text-transform:uppercase;
	background:url(../../images/front/bullet.png) no-repeat right center;
	padding:0 15px 0 0;
}
.box-item .b-detail a.b-viewmore:hover{
	text-decoration:none;
}
/*end product item*/
/*product new*/
.product-new{
	background:#f6f6f6;
	overflow:hidden;
	padding:0 0 15px 15px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.product-new .grid{
	position:relative;
	z-index:1;
	padding:12px 0 8px;
	margin:0 15px 0 0;
	height:110px;
	width:360px;
	float:left;
	border-bottom:1px dotted #ccc;
}
.product-new .grid .img{
	width:110px;
	height:80px;
	border:2px solid #fff;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);
	box-shadow:0 0 3px rgba(0,0,0,0.2);
}
.product-new .grid .g-content{
	margin-left:125px;
}
.product-new .grid .g-row{
	font-size:12px;
	color:#333;
}
.product-new .grid span{
	color:#999;
}
.product-new .grid .viewmore{
	position:absolute;
	z-index:1;
	left:28px;
	top:107px;
	font-size:11px;
	color:#be641d;
	text-decoration:underline;
	text-transform:uppercase;
	background:url(../../images/front/bullet.png) no-repeat right center;
	padding:0 15px 0 0;
}
.product-new .grid a.viewmore:hover{
	text-decoration:none;
}
/*end product new*/
/*box featured*/
.box-featured{
	background:#f6f6f6;
}
.box-featured .grid{
	padding:7px 0 8px;
	margin:0 10px;
	border-bottom:1px dotted #ccc;
}
.box-featured .grid .img{
	width:70px;
	height:50px;
	border:1px solid #fff;
}
.box-featured .grid .g-content{
	margin-left:92px;
}
.box-featured .grid .g-row{
	font-size:11px;
	font-weight:bold;
	color:#28170d;
}
/*end box featured*/
/*footer*/
.menu-bottom{
	height:33px;
	background:url(../../images/front/menu-bottom.png) repeat-x top #221a15;
	border-top:1px solid #25160f;
}
.menu-bottom ul{
	margin:0 0 0 25px;
}
.menu-bottom ul li{
	float:left;
	list-style: outside disc;
	font-size:14px;
	color:#ff6804;
	padding:0 15px 0 0;
}
.menu-bottom ul li a{
	display:block;
	font-size:14px;
	color:#d3a551;
	font-weight:normal;
	padding:8px 35px 8px 0;
}
.menu-bottom ul li:hover, .menu-bottom ul li:hover a{
	color:#fff;
}
.designer{
	float:left;
	margin:115px 0 0 -139px;
	font-size:11px;
	color:#2db597;
	width:400px;
}
.footer-right{
	float:right;
	margin:15px 0 0;
	padding:0 10px 0 0;
	text-align:right;
	color:#fff;
	line-height:22px;	
}
.footer h5{
	color:#d3a551;
	padding:0 0 5px;
}
/*end footer*/
/*ad*/
.box-ad{
	margin:0 0 15px;
}
.box-ad img{
	max-width:210px;
}
/*end ad*/
/*box list*/
.box-list{
	padding:0 12px;
}
.box-list .grid{
	border-bottom:1px dotted #ccc;
	padding:10px 0;
}
.box-list .grid .g-row{
	font-size:12px;
	color:#393939;
}
.box-list .grid h6{
	color:#333;
}
/*end box list*/
/*faq*/
.faq-detail{
	padding:10px 12px;
}
.faq-detail .faq-title{
	color:#d3a551;
	font-size:14px;
	padding:0 0 5px;
	font-weight:bold;
}
.faq-detail .faq-maindetail{
	color:#3f3f3f;
	font-size:12px;
	line-height:19px;
	padding:5px 0 15px;
	border-bottom:1px dotted #ccc;
}
.faq-detail .faq-h6{
	font-size:11px;
	color:#333;
	font-weight:bold;
	padding:7px 0 0;
}
/*end faq*/
/*contact*/
.contact-outer{
	padding:25px;
	background:#f6f6f6;
	border:1px solid #b5b5b5;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.contact-detail{
	margin:0 0 20px 0;
	line-height:22px;
}
.contact-detail h2{
	font-size:24px;
	font-weight:normal;
	padding:0 0 10px;
}
.contact-tab{
	height:89px;
	border-bottom:1px solid #ccc;
	background:url(../../images/front/contact-center.png) no-repeat center center;
}
.contact-tab .tab-click1{
	float:left;
	width:335px;
	height:90px;
	cursor:pointer;	
}
.contact-tab .tab-click2{
	float:left;
	width:335px;
	height:90px;
	cursor:pointer;
	margin:0 0 0 40px;	
}
.contact-tab h3{
	display:inline-block;
	background:url(../../images/front/marker.png) no-repeat right 5px;
	padding:3px 20px 10px 0;
}
.contact-tab .active{
	background:url(../../images/front/contact-tab.png) no-repeat center bottom;
}
.contact-map{
	border:1px solid #ccc;
	border-top:none;
	padding:4px;
	background:#e4e4e4;
}
.contact-map .tab-content1{
	height:340px;
}
.contact-map .tab-content2{
	height:340px;
	display:none;
}
/*end contact*/
/*product detail*/
.image-hidden{
	display:none;
}
.product-detail{
	height:335px;
	margin:10px 0 0;
}
.pd-left{
	float:left;
	width:370px;
	background:#fff;
	border:1px solid #b5b5b5;
	padding:1px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.pd-right{
	float:right;
	width:378px;
	background:#fff;
	border:1px solid #b5b5b5;
	padding:1px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.pd-image{
	background:#f6f6f6;
	padding:10px;
	text-align:center;
}
.pd-image img{
	height:235px;
	max-width:350px;
}
.pd-view{
	background:#2b190e;
	padding:10px 15px;
	text-align:center;
}
.pd-viewall{
	display:inline-block;
	width:150px;
	background:url(../../images/front/all-image.png) no-repeat left center;
	padding:8px 0 12px 15px;
	color:#d3a551;
}
.pd-share{
	padding:10px 0 10px 5px;
	height:20px;
	background:#dcd8d8;
}
.pd-cloud{
	float:left;
	background:url(../../images/front/cloud.png) no-repeat;
	width:32px;
	height:20px;
	text-align:center;
	line-height:18px;
	font-size:11px;
}
.icon-google{
	background:url(../../images/front/googleplus.png) no-repeat;
	width:32px;
	height:20px;
	float:left;
	margin:0 0 0 7px;
}
.icon-facebook{
	background:url(../../images/front/facebook.png) no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin:0 0 0 7px;
}
.icon-zing{
	background:url(../../images/front/zing.png) no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin:0 0 0 7px;
}
.pd-title{
	background:#bdbaba;
	padding:5px 12px 10px;
	min-height:100px;
	line-height:20px;
}
.pd-title h2{
	font-size:18px;
	font-weight:normal;
	padding:3px 0 5px;
	color:#352418;
}
.pd-title h5{
	color:#dcd8d8;
}
.pd-title h5 span{
	color:#cb9446;
}
.pd-intro{
	padding:10px 12px;
	line-height:18px;
	color:#000;
	height:134px;
	overflow:auto;
}
.pd-cart{
	float:right;
	background:url(../../images/front/showcart.png) no-repeat;
	width:115px;
	height:43px;
	margin:10px 0 0 0;
	padding:17px 0 0 65px;
	font-size:12px;
	text-transform:uppercase;
	color:#d3a551;
	line-height:14px;
}
.pd-right .winget{
	border-top:1px solid #999;
}
/*end product detail*/
/*news*/
.news-outer{
	overflow:hidden;
	background:#f1eeeb;
	border:1px solid #b5b5b5;
	margin:0 0 10px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.news-left{
	float:left;
	width:470px;
	border-right:1px solid #cdcdcd;
}
.news-left .pages{
	padding:20px 10px 20px;
}
.news-right{
	float:right;
	width:293px;
	border-left:1px solid #cdcdcd;
	margin:0 0 0 -1px;
}
.ad-right img{
	max-width:295px;
}
.news-intro{
	font-size:12px;
	color:#999;
	font-weight:bold;
	line-height:18px;
	padding:0 0 5px;
}
.news-detail{
	padding:10px 12px;
	line-height:16px;
	border-bottom:1px solid #cdcdcd;
}
.news-detail .news-image{
	text-align:center;
	margin:5px 0 5px;
}
.news-detail .news-image img{
	max-width:445px;
}
.news-detail .news-link{
	font-size:14px;
	color:#333;
	display:block;
	padding:0 0 3px;
}
.news-detail h6{
	color:#333;
	font-size:11px;
	font-weight:normal;
	padding:0 0 3px;
}
.news-detail .news-content{
	color:#333;
	line-height:18px;
}
.news-detail .news-content img{
	max-width:445px;
}
.news-list .grid{
	padding:10px 12px;
	border-bottom:1px solid #cdcdcd;
	min-height:75px;
}
.news-list .grid .img{
	width:115px;
	height:80px;
	border:1px solid #fff;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
}
.news-list .grid .g-content{
	margin-left:127px;
}
.news-list .grid .g-title{
	padding:3px 0 0;
}
.news-list .grid .g-row{
	font-size:12px;
}
.news-list .grid .g-row span{
	color:#666;
	font-size:11px;
}
.other-news{
	margin:0 10px 10px;
}
.other-news .other-title{
	background:#ececec;
	height:38px;
}
.other-news .other-title label{
	float:left;
	margin:12px 0 0 12px;
	font-size:12px;
	font-weight:bold;
	color:#333;
}
.other-news .other-content{
	background:#e0e0e0;
	padding:0 0 10px;
}
.other-news .grid{
	padding:10px 0;
	margin:0 10px;
	border-bottom:1px solid #cdcdcd;
	min-height:55px;
}
.other-news .grid .img{
	width:65px;
	height:53px;
}
.other-news .grid .g-content{
	margin-left:73px;
}
.other-news .grid .g-title{
	color:#2b190e;
	padding:3px 0 0;
	display:inline-block;
}
.other-news .grid .g-row{
	font-size:12px;
}
.other-news .grid .g-row span{
	color:#666;
	font-size:11px;
}
/*end news*/
/*Statistics*/
.char-outer{
	text-align:left;
	float:left;
	margin:15px 0 0 20px;
	background:url(../../images/front/char-outer.png) no-repeat;
	width:177px;
	height:116px;
}
.char-outer h5{
	display:block;
	padding:7px 0 10px 35px;
	color:#ff6804;
	background:url(../../images/front/chart_bar.png) no-repeat left center;
}
.char-outer .row{
	width:100%;
	clear:both;
	padding:5px 0 0;
	font-size:12px;
	overflow:hidden;
}
.char-outer label{
	font-size:11px;
	color:#d3a551;
	padding:0 0 0 15px;
	float:left;
	width:95px;
}
.char-outer span{
	float:left;
	width:55px;
	font-size:11px;
	color:#fff;
}
/*end Statistics*/
/*contact form*/
.contact-form{
	padding:25px 0 15px;
	overflow:hidden;
}
.contact-form label {
	font-size:11px;
	width:70px !important;
}
.contact-form textarea{
	resize:both;
	border:1px solid #e1e1e1 !important;
	color:#112233 !important;
	-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
}
.contact-form input[type=text]{
	border:1px solid #e1e1e1 !important;
	-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 2px rgba(0,0,0,0.1);
}
.contact-form .button{
	margin:10px 10px 0 100px;
}
.contact-form .row {	
	padding:0 0 12px 0;
}
.contact-form .errorMessage{
	color:red;
	padding:5px 0 0;
	font-style:italic;
}
.contact-form .hint{
	color:orange;
	padding:5px 0 0;
	font-style:italic;
}
.contact-form .fix-inline .errorMessage, .contact-form .fix-inline .hint{
	margin-left:100px;
}
.contact-form .error{    
    margin-bottom:0;
    padding:4px;
	border:none;
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.contact-form .check-outer label {
	font-size:13px;
	color:#333;
	text-transform:uppercase;
}
.contact-form h6{
	margin:5px 0 0 100px;
	color:#999;
}
/*end contact form*/
/*cart*/
.cart-outer{
	padding:15px 12px;
	background:#f6f6f6;
	border:1px solid #b5b5b5;
	min-height:678px;
	-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,03);
	box-shadow:-3px 3px 3px rgba(0,0,0,0.3);
}
.product-table{
	padding:10px 0 0;
}
.product-table table.tdata {
    margin-bottom:0;
}
.product-table table.tdata thead th {
	background:#3499df;
	color:#000;
}
.product-table table.tdata th, .product-table table.tdata td {
	padding:5px 3px 5px 5px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:11px;
}
.product-table table.tdata tbody td{
	background:#d1d7e7;
}
.product-table table.tdata tbody tr:nth-child(even) td, .product-table table.tdata tbody tr.even td {
	background:#e9edf6 !important;
}
.product-table table.tdata tbody td a{
	font-weight:normal;
}
.product-table table.tdata tbody td .btn-plus, .product-table table.tdata tbody td .btn-minus{
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	padding:2px;
}
.cart-button{
	height:37px;
	margin:15px 0 0;
}
.cart-note{
	color:#333;
	font-size:11px;
	line-height:19px;
	padding:25px 0 10px;
}
.cart-note *{
	font-size:11px;
}
.introduction{
	background:url(../../images/front/introduction.png) no-repeat;
	width:710px;
	height:150px;
}
/*end cart*/
/*begin flash*/
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}
/*end flash*/